.breakout{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.check{
    display: flex;
    justify-content: center;
    align-items: center;
}
#index{
    width: 20px;
    height: 20px;
    margin-left: 10px;
}
#stocklist{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}
.card{
    width: 300px;
    min-height: 140px;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: -4px -4px 10px var(--boxshadow1),
     4px 4px 10px var(--boxshadow2);
}
.card h3{
    font-size: 16px;
}
.card h3 span{
    font-size: 12px;
    background-color: var(--primary-color);
    padding: 2px 8px;
    border-radius: 10px;
    color: white;
}
.card h4{
    font-size: 12px;
}
.card p{
    opacity: 0.6;
    font-size: 12px;
}
#mdata{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.fiidata{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.nifty{
    font-weight: 900;
    font-size: 20px;
}
.emtext{
    font-size: 10px;
    margin-left: 10px;
}
.chartbox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#fiicontainer{
    margin: 10px;
    position: relative; 
    height:65vh; 
    width:60vw;
}
#adcontainer{
    margin: 10px;
    position: relative; 
    height:65vh; 
    width:30vw;
}
.card-inside{
    margin: 10px;
    padding: 10px;
}
#corporate{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
#csv-display{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.ca-card{
    width: 360px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: -4px -4px 10px var(--boxshadow1),
     4px 4px 10px var(--boxshadow2);
}
.ca-card #dates{
    opacity: 0.9;
    font-size: 12px;
}
.ca-card p{
    font-size: 14px;
}
@media only screen and (max-width: 768px) {
    #fiicontainer{
        margin: 10px;
        position: relative; 
        height:35vh; 
        width:90vw;
    }
    #adcontainer{
        margin: 10px;
        position: relative; 
        height:35vh; 
        width:80vw;
    }
    .fiidata{
        margin-top: 0px;
    }
    .card{
        margin: 10px;
    }
}