:root {
    --primary-color: blue;
    --secondary-color: black;
    --font-color: black;
    --bg-color: rgb(219, 219, 219);
    --heading-color: #292922;
    --boxshadow1: #fdfdfd;
    --boxshadow2: #929292;
    --lg1: rgba(219,219,219,0);
    --lg2: rgba(219,219,219,1);
    --call: rgb(0, 140, 0);
    --put: rgb(140, 0, 0);
    --time: rgb(140, 140, 140);
    --hr: rgb(200,200,200);
}

[data-theme="dark"] {
    --primary-color: yellow;
    --secondary-color: white;
    --font-color: #f5f5f5;
    --bg-color: rgb(15,15,15);
    --heading-color: #292922;
    --boxshadow1: #1f1f1f;
    --boxshadow2: #000000;
    --lg1: rgba(15,15,15,0);
    --lg2: rgba(15,15,15,1);
    --call: rgb(82, 255, 82);
    --put: rgb(255, 82, 82);
    --hr: rgb(0,0,0);
}
body{
    color: var(--font-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--bg-color);
    font-family: Poppins, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.navbar{
    z-index: 1;
    position: sticky;
    display: flex;
    flex-direction: column;
    top: 0;
    width: 100%;
    background-color: var(--bg-color);
}
.header {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--secondary-color);
}

.head {
    text-decoration: none;
    font-size: 24px;
    margin-left: 20px;
    font-weight: bolder;
    color: var(--primary-color);
}

.head span {
    color: var(--secondary-color);
}
.sidebar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar i{
    font-size: 26px;
}
#emoji{
    margin-left: 2px;
}
#menu{
    margin: 0 20px;
    cursor: pointer;
}
#close{
    display: none;
    margin: 0 20px;
    cursor: pointer;
}
.navtabs{
    display: none;
}
.navtabs ul{
    list-style: none;
    width: 80%;
}

.navtabs li{
    padding: 10px;
    transition: 0.3s;
}
.navtabs ul li a:link,a:visited{
    cursor: pointer;
    text-decoration: none;
    color: var(--font-color);
}
.navtabs ul li:hover{
    background-color: var(--boxshadow1);
}
.fa-home,.fa-shopping-cart,.fa-line-chart{
    margin: 0 10px;
}
hr{
    margin: 0;
    outline: none;
    border: none;
    border-top: 0.1rem solid var(--hr);
}

/*--dark mode slider--*/
.theme-switch-wrapper {
    display: flex;
    align-items: center;
}

.theme-switch-wrapper em {
    margin-left: 10px;
    font-size: 0.5rem;
}

.theme-switch {
    display: inline-block;
    height: 20px;
    position: relative;
    width: 40px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: rgb(182, 182, 182);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: var(--bg-color);
    bottom: 2px;
    content: "";
    height: 16px;
    left: 2px;
    position: absolute;
    transition: .4s;
    width: 16px;
}

input:checked+.slider {
    background-color: var(--primary-color);
}

input:checked+.slider:before {
    transform: translateX(20px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
/*--dark mode slider--*/


.api-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.option-chain{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#oidata{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-size: 14px;
    text-align: center;
}
.tabletitle{
    margin: 20px auto;
}
#oirows,#oitable{
    font-size: 10px;
}
#index{
    width: 160px;
    height: 40px;
    padding: 0 10px;
    font-size: 20px;
    font-weight: 500;
    color: var(--bg-color);
    background-color: var(--primary-color);
    outline: none;
    border: none;
    border-radius: 10px;
    margin: 20px auto;
}
.box1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 180px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: -10px -10px 20px var(--boxshadow1), 10px 10px 20px var(--boxshadow2);
}
.ads{
    display: flex;
    flex-direction: row;
    width: 340px;
    padding: 10px;
    margin: 30px 10px;
    border-radius: 10px;
    box-shadow: -10px -10px 20px var(--boxshadow1), 10px 10px 20px var(--boxshadow2);
}
.ads img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
.ads-content{
    margin-top: -20px;
    margin-left: 10px;
}
.ads-content p{
    margin-top: -20px;
    font-size: 12px;
}
.ads-content em{
    cursor: pointer;
    margin-left: 60px;
    font-size: 12px;
    opacity: 0.6;
}
.ads-content i{
    color: var(--primary-color);
    font-size: 26px;
    margin: 0 10px;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: var(--bg-color);
    margin: 40vh auto;
     /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  .modal-content p{
      padding: 10px;
  }
  .modal-content a:link,.modal-content a:visited{
      color: var(--primary-color);
  }
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


.ce,.pe, .diff, .signal{
    display: flex;
    font-size: 12px;
}
.signal{
    align-self: center;
    align-items: center;
    flex-direction: row;
}
#signal{
    font-size: 20px;
    color: var(--font-color);
}

/* Tooltip container */
.fa-info-circle {
    color: #555;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .fa-info-circle .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .fa-info-circle .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  .fa-info-circle:hover{
      color: var(--font-color);
  }
  /* Show the tooltip text when you mouse over the tooltip container */
  .fa-info-circle:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }


#diffoi{
    color: var(--primary-color);
}
#totalce{
    color: var(--call);
}
#totalpe{
    color: var(--put);
}
h2{
    margin: 10px;
}
th, td{
    font-size: 16px;
}
table, th, td {
    border: solid 1px #444444;
    border-collapse: collapse;
    padding: 4px 8px;
    text-align: center;
}
th {
    font-weight:bold;
}

#newsfeed{
    overflow: scroll;
    width: 360px;
    height: 100vh;
    padding: 20px;
    margin-top: 20px;
}
#newsfeed::-webkit-scrollbar {
    display: none;
}
.newscard{
    display: flex;
    cursor: inherit;
    padding: 10px;
    margin: 20px 10px;
    border-radius: 10px;
    box-shadow: -10px -10px 20px var(--boxshadow1), 10px 10px 20px var(--boxshadow2);
    transition: 0.3s ease-in-out;
}

.newscard img{
    width: 180px;
    height: 100px;
    object-fit: cover;
}
.desc{
    margin-left: 10px;
}
.desc a,.desc a:link, .desc a:visited{
    text-decoration: none;
    color: var(--font-color);
    font-size: 14px;
    font-weight: 700;
    transition: 0.3s ease-in-out;
}
.desc a:hover{
    color: var(--primary-color);
}
.desc #description{
    font-size: 12px;
    color: var(--font-color);
}
#time{
    margin-top: -10px;
    font-size: 10px;
    color: var(--time);
}
#share{
    cursor: pointer;
    padding: 4px;
    margin-left: 10px;
    font-size: 10px;
    font-weight: 700;
    outline: none;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    background-color: var(--bg-bolor);
    color: var(--primary-color);
    transition: 0.3s ease-in-out;
}
#share:hover{
    transform: scale(1.3);
}
#pageshare{
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 12px;
    outline: none;
    border: 1px solid var(--primary-color);
    background-color: var(--bg-color);
    border-radius: 4px;
    color: var(--primary-color);
}
#pageshare:hover{
    transform: scale(1.1);
}
#pagerefresh{
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 12px;
    outline: none;
    border-radius: 4px;
    background-color: var(--bg-color);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}
#pagerefresh:hover{
    transform: scale(1.1);
}

.footer{
    
    text-align: center;
    font-size: 12px;
}
.footer a,.footer a:visited,.footer a:link{
    text-decoration: none;
    color: var(--primary-color);
}