#show,#hide{
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    margin: 5px;
    outline: none;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    background-color: var(--bg-color);
    color: var(--primary-color);
}
#ccontainer{
    display: none;
    margin: 10px;
    position: relative; 
    height: 350px; 
    width:50vw;
}
#pcrcontainer{
    display: none;
    margin: 10px;
    position: relative; 
    height:350px; 
    width:50vw;
}
.somebtns{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

@media only screen and (max-width: 768px) {
    #ccontainer{
        display: none;
        position: relative;
        margin: 10px;
        width: 90vw;
        height: 300px;
    }
    #pcrcontainer{
        display:none;
        position: relative;
        margin: 10px;
        width: 90vw;
        height: 300px;
    }
}
