.breakout{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.check{
    display: flex;
    justify-content: center;
    align-items: center;
}
#index{
    width: 20px;
    height: 20px;
    margin-left: 10px;
}
#stocklist{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}
.card{
    width: 320px;
    height: 120px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: -4px -4px 10px var(--boxshadow1),
     4px 4px 10px var(--boxshadow2);
}
.card h3{
    font-size: 14px;
}
.card h4{
    font-size: 12px;
}
.card p{
    opacity: 0.6;
    font-size: 12px;
}
#mdata{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.fiidata{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.fiicard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 380px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: -4px -4px 10px var(--boxshadow1),
     4px 4px 10px var(--boxshadow2);
}
.fiicard-inside{
    display: flex;
    flex-wrap: wrap;
    margin-top: -20px;
    font-size: 11px;
}
.card-inside{
    margin: 10px;
    padding: 10px;
}
#corporate{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
#csv-display{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.ca-card{
    width: 360px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: -4px -4px 10px var(--boxshadow1),
     4px 4px 10px var(--boxshadow2);
}
.ca-card #dates{
    opacity: 0.9;
    font-size: 12px;
}
.ca-card p{
    font-size: 14px;
}