.title{
    margin-top: 20px;
    font-size: 36px;
    font-weight: 700px;
}
button{
    font-size: 18px;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    background-color: var(--bg-color);
    color: var(--primary-color);
    outline: none;
    border: none;
    border-radius: 10px;
    box-shadow: -10px -10px 20px var(--boxshadow1),
     10px 10px 20px var(--boxshadow2);
}
button:hover{
    box-shadow: inset -4px -4px 10px var(--boxshadow1),
     inset 4px 4px 10px var(--boxshadow2);
}

#details{
    margin-top: 20px;
    overflow: scroll;
    height: 70vh;
}
::-webkit-scrollbar{
    display: none;
}
.card{
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: -4px -4px 10px var(--boxshadow1),
     4px 4px 10px var(--boxshadow2);
}
.title{
    font-size: 16px;
    font-weight: 700;
}